.ContactForm{
  width:100%;
  height:70vh;
   background-color:whitesmoke;
   font-family: 'Times New Roman', Times, serif;

}  
h1 {
  position: relative;
  top:10vh;
  text-align: center;
  margin-left:5vw;
  color: #545050;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

#form_container {
  position: relative;
  top:5vh;
  max-width: 600px;
  text-align: center;
  margin: 10vh auto;
}

.input-name,.input-email,.input-subject,.input-submit,.input-message{
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width:25vw;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
.input-name:focus,.input-email:focus,.input-subject:focus,.input-submit:focus,.input-message :focus{
  box-shadow: 0 0px 2px rgba(255, 0, 0, 1) !important;
}

.input-submit {
  position: relative;
  top: -18vh;
  width: 100%;
  margin-left: 4vw;
  color: white;
  background: red;
  cursor: pointer;
}

.input-submit:hover {
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
#mesage_container{
  position: relative;
  float: right;
  margin-right: -8vw;
  top: -23vh;
}
.input-message {
  position: relative;
  height: 120px;
  width: 18vw;
}
/* mobile view*/
@media (max-width:1280px) {
  .ContactForm{
    height:450px;
  }
  .ContactForm h1{
    top:20px;
   }
   #form_container {
    top:5px;
   }
  .input-name,
  .input-email,
  .input-subject{
    width: 350px;
 margin-left:-20px;
  }
  .input-message {
    width:200px; 
    top:20px;
    margin-right:100px;
  }
  .input-submit{
    position: absolute;
    top:170px;
    margin-left: -5px;
  }
}
/*test*/
@media (max-width:1024px){
  #form_container {
    top:-80px;
  }
  .input-name,
.input-email,
.input-subject {
    margin-bottom: 10px; /* Adjust the value as needed */
}

  .input-message {
    width:200px; 
    top:275px;
    margin-right:80px;
  }
  }
@media (max-width:920px){
  #form_container {
    top:-40px;
  }
  .input-message {
    top:155px;
  }
  }
@media (max-width:820px){
    .input-message {
      top:110px;
    }
}
@media (max-width:768px){
#form_container {
  top:-5px;
}
.input-message {
  top:75px;
  margin-right:70px;
}
}
@media (max-width: 480px) {
.ContactForm{
  height: 600px;
}
.ContactForm h1{
position: relative;
top:30px;
}
#form_container{
  position: relative;
  top:15px;
  margin-left: 40px;
}
.half {
  width: 100%;
  float: none;
  margin-bottom: 1em; /* Add margin between the input fields */
}

.input-name,
.input-email,
.input-subject,
.input-message {
  width: 80%; 
  margin-left: 5px;
}
#mesage_container {
  margin-right: 0;
  top: -80px; /* Adjust the position for better spacing */
}
.input-submit{
  position: relative;
  top:10px;
  width:80%;
  margin-left: 20px;
}
}
