.Footer{
    background-color: rgb(16, 20, 33);
    width: auto;
    height: 10vh;
}
.Footer-container{
    position: relative;
    top:3vh;
    
}
.Footer-icons{
    display: flex;
    position: absolute;
    margin-left: 5vh; 
}
.Footer-contact-icons{
      float: right;
      margin-right: 5vh;
}
.icon{
    color: whitesmoke;
    padding-left: 3vh;
    font-size: 2.8vh;
}
.Footer-social-icons{
padding-right: 3vh;
font-size: 3vh;
cursor: pointer;
}
.copywrite_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.copywrite{
    position: relative;
    color: white;
    top: 10px;
}
@media (max-width: 480px) {
    .Footer-contact-icons{
        display: none;
    }
    .Footer-icons{
        margin-left: 80px;
    }
    .copywrite_container{
        margin-right: 60px;
    }
}
/*Responsive*/
@media (max-width: 920px) {
    .Footer{
        width: 100%;
        height:200px;
    }
    .Footer-icons,
    .Footer-contact-icons {
position: relative;
        display: block; /* Stack icons vertically */
    }
    .Footer-contact-icons{
        position: absolute;
        margin-left: 270px;
        top: 50px;
    }
    .Footer-icons{
        position: absolute;
        margin-left: 200px;
    }
    .copywrite_container {
    font-size: 30px;
   position: absolute;
   margin-left: 80px;
   top:60px;
    }
}